.container
  border-radius: 6px
  width: 200px
  height: 200px
  padding-right: 10px
  border: 1px dashed

ngx-simplebar
  width: 200px
  height: 200px
  .simplebar-track.simplebar-vertical
    background-color: yellow
  .simplebar-scrollbar::before
    background: #2a89e0 !important